/*------------------------------------------------------------------------*/
/*      Author Name: CubeCreation Themes                                  */
/*      Author : https://themeforest.net/user/cubecreation/portfolio      */
/*      Date Develop: 04.10.2016                                          */
/*------------------------------------------------------------------------*/

/*
  CSS STRUCTURE:

  1. GENERAL TYPOGRAPHY
   - Global Reset
   - General Styles
   - Typography
   - Buttons

  2. SITE STRUCTURE
   - Header
   - Header Section (First Section)
   - Demo List
   - Footer
*/

  // Project variables and mixins
  @import "less/variables.less";
  @import "less/mixins.less";

  // Fonts
    //=> Lato
  @import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic&subset=latin,latin-ext);
    //=> Kaushan Script
  @import url(https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin,latin-ext);
    //=> Volkorn
  @import url(https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,700,700italic);

  // Reset
  @import "less/reset.less";

  // General Styles
  @import "less/general.less";
  @import "less/content.less";
  @import "less/typography.less";
  @import "less/buttons.less";
  @import "less/form.less";
  @import "less/table.less";

  // Header
  @import "less/header/header.less";

  // HomePage Slider
  @import "less/slider.less";

  // HomePage Video
  @import "less/video.less";

  // Shop
  @import "less/shop/shop.less";

  // Other Style
  @import "less/other-style.less";

  // Posts Style
  @import "less/posts/posts.less";

  // Footer
  @import "less/footer.less";